h1{
    text-align:center;
    margin-top: 50px;

}

.row{
    text-align:center;
    grid-row: span;

}
.col-md-3{
    padding: 4px;
}


.button {
  
    border-radius: 7px;
    background-color: #169BD5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
