.logoC{
    position: relative;
    width: 200px;
    height: 200px;
}
.App{
    background-color: rgb(224, 240, 240);
    position: relative;
}

.texto5{
    line-height: 300%;
    text-align: justify;
    display: inline-block;
    
}