.container{
    width: auto;
    height: 600px;
}

.Producto{
    position: relative;
    top: 5%;
    left: 2%;
    width: 450px;
    height: 500px;
    border:2px solid rgb(36, 34, 34);
}

.Detalles{
    position: relative;
    left:5%;
    top: 25%;
    width: 800px;
    height: 100px;
}
.calificar{
    position: relative;
    top: 25%;
}
.precio{
    position: relative;
    display: inline-block;
    top: 10%;
    
}
.codigoP{
    display: inline-block;
    position: relative;
    bottom: 13%;
}

.conDescripcion{
    position: relative;
    top: 65%;
    width: auto;
    height: 200px;
}
.descripcion{
    position: relative;
    font-family: monospace;
    font-size: 15px;
}

.boxColor{
    display: inline;
    position: relative;
    left: 12px;
    top: 15px;
}

.tColor{
    position: relative;
    left: 5%;
    bottom:-3%
}
.boxTalla{
    display: inline;
    position: relative;
    left: 16%;
    bottom: 20px;
}
.tTalla{
    position: relative;
    left: 20%;
    top: -14%;
}
.boxCantidad{
    display: inline;
    position: relative;
    left: 30%;
    bottom: 27%;
}

.tCantidad{
    position: relative;
    left: 32%;
    top: -31%;
}

.comentario{
    top: 24%;
    display: inline;
    position: relative;
    left: 35%;
}
.btnCarrito{
    top: 13%;
    left: 10%;
    cursor: pointer;
    border-radius: 2%;
    border: 2px solid rgb(5, 5, 5); 
    padding: 6px 6px;
    position: relative;
    background-color: rgb(116, 189, 113);  
    color: rgb(0, 0, 0); 
}
.btnCarrito:hover{
    background-color: rgb(21, 156, 39);
    color: rgb(0, 0, 0);
}
.enviar{
    background-color: rgb(18, 163, 168);
    color: white;
}







.container2{
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.667);
}

.recomendado1{
    width: 200px;
    height: 280px;
    left: 2%;
    position: relative;
    background-color: white;
    border: 2px solid rgb(0, 0, 0) ;
}
.recomendado2{
    bottom: 95%;
    height: 280px;
    width: 200px;
    position: relative;
    left: 20%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0) ;
}.recomendado3{
    bottom: 190%;
    height: 280px;
    width: 200px;
    position: relative;
    left: 38%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0) ;
}.recomendado4{
    height: 280px;
    bottom: 284%;
    width: 200px;
    position: relative;
    left: 58%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0) ;
}
.recomendado5{
    height: 280px;
    bottom: 379%;
    width: 200px;
    position: relative;
    left: 78%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0) ;
}